.App {
  text-align: center;
}
.login123{
  text-align: center;
}

.emul{
  list-style-type:none;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.employeeLog{

  margin-top: 6.5rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */

body {
  /* padding-top: 66px; */
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: #f1a944;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* end of globals */

/* Hero */

.defaultHero,
.menuHero {
  min-height: calc(100vh - 66px);
  background: url("../images/banner_home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuHero {
  background-image: url("../images/banner_menu.jpg");
  min-height: 75vh;
}

.orderHero {
  min-height: calc(100vh - 200px);
  background: url("../images/banner_order.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End of Hero */

/* Banner */
.banner {
  /* display: inline-block; */
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 1rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.banner h1 {
  font-size: 2.5rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }

  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */

/* Title */

.section-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.section-title h3 a {
  text-decoration: none;
  color: #ff9602;
}

.section-title h3 a:hover {
  color: rgb(211, 164, 9);
}

.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title h6 {
  margin-bottom: 1rem;
}

.section-title div {
  width: 44rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

.section-title p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}

.services {
  background: var(--darkGrey);
  text-align: center;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services h6 {
  letter-spacing: var(--mainSpacing);
}

.services p {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/* end of services */

/* start of about */
.about_us {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  min-height: calc(100vh);
  background: url("../images/restaurant_home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_us_content {
  background-color: black;
  margin-left: 10px;
  color: white;
  width: 60%;
  float: left;
  padding: 10px;
  font-family: "Lucida Console", Courier, monospace;
}

.about_us_content div {
  width: 10rem;
  height: 2px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.about_us_content p a {
  text-decoration: none;
  color: #f1a944;
}

.about_us_content p a:hover {
  color: yellow;
}

.about_us_picture {
  width: 40%;
  float: right;
}

.circle-icon {
  background: #f1a944;
  width: 50px;
  height: 50px;
  border-radius: 12%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
}

.circle-icon:hover {
  color: yellow;
}
/*end of about */

/*start of reservations*/
.reservation-bg {
  background: #e2dddd;
  padding: 80px 0;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6428;
  color: white;
}

.book-reservations-image {
  background: url("../images/reservation_book_new.png");
  background-position: center top;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 17.62%;
  height: 600px;
  min-height: 300px;
}

.book-reservations-text {
  color: white;
  letter-spacing: 2px;
  margin-top: -8%;
  position: relative;
  width: 340px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  box-sizing: border-box;
}

.book-reservations-text h2 {
  font-family: "Lusitana", Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 34px;
  background-color: black;
}

.book-reservations-text a {
  display: block;
  background: rgba(25, 10, 2, 0.85);
  width: 190px;
  margin: 0 auto 10px auto;
  color: #94826d;
  outline: 4px solid rgba(25, 10, 2, 0.7);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  transition: all 0.5s;
}

.book-reservations-text a:hover {
  color: #e0dad2;
}

/* end of reservations */

/* start of footer */

.footer-bg {
  background: url("../images/footer_panaroma.jpg") center/cover no-repeat;
  padding: 0px 0 500px;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6428;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-inner-box {
  padding: 100px;
}

.footer-inner-container {
  margin-right: auto;
  margin-left: auto;
}

.footer-mid {
  width: 100%;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  display: flex;
}

.footer-mid-box {
  margin: auto;
  margin-bottom: 15px;
}

.footer-mid-box div {
  width: 10rem;
  height: 2px;
  background: white;
  margin: 2rem auto;
}

.footer-list {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  list-style: none;
  background-color: #f1a944;
  outline: 4px solid rgba(25, 10, 2, 0.7);
}

.footer-item a {
  text-decoration: none;
  color: black;
}

.footer-item a:hover {
  color: red;
}

.footer-list-restaurant-info {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  list-style: none;
  background-color: black;
  outline: 4px solid white;
  height: 300px;
  width: 300px;
}

.footer-item-restaurant-info {
  color: white;
  list-style-type: none;
  padding: 3px;
}

hr.w250 {
  border-top: 1px solid aqua;
}

/* end of footer */

/* start of menu page */
.menu-background {
  background-color: gainsboro;
}
.menu-container {
  margin-top: 30px;
  text-align: left;
  word-wrap: break-word;
  background-attachment: fixed !important;
  font-family: "Open Sans", sans-serif;
}

.menu-container-section-container {
  background-color:#f1a944;
  color: black;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: auto;
  width: 50%;
  min-width: 85px;
  min-height: 35px;
  font-size: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.menu-container-section-container-name {
  display: inline-block;
  position: relative;
  max-width: 80%;
  word-wrap: break-word;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.menu-container-sub-section {
  -moz-column-count: 2;
  -moz-column-width: auto;
  -moz-column-gap: 40px;
  -moz-column-rule: none;
  column-count: 2;
  column-width: auto;
  column-gap: 40px;
  column-rule: none;
  font: serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 25px;
  text-align: left;
  border: 0;
  text-shadow: none;
  word-wrap: break-word;
  outline: none;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.menu-container-sub-section-item {
  margin: 8px 0 8px 0;
  display: inline-block;
  zoom: 1;
  width: 100%;
  position: relative;
}

.menu-container-sub-section-item-name {
  margin-right: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.menu-container-sub-section-item-price {
  margin-left: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
  text-align: right;
}

.menu-container-sub-section-item-description {
  color: #4d4d4d;
  clear: both;
  font: serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  text-shadow: none;
  word-wrap: break-word;
  outline: none;
}

/* end of menu */


/* start of order */
.menu-order-container {
  display: flex;
  background-color: gainsboro;
}

/* start of menu lhs */
.menu-main-container-lhs {
  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
  background-attachment: fixed !important;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 15px;
  text-align: left;
  border: 0;
  text-shadow: none;
  word-wrap: break-word;
  outline: none;
  font-family: "Open Sans", sans-serif;
  width: 50%;
  float: left;
}

.menu-section-container {
  background-color:#f1a944;
  color: black;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 30px auto 30px auto;
  font-size: 14px;
  overflow: hidden;
}

.menu-section-container-name {
  display: inline-block;
  position: relative;
  max-width: 80%;
  word-wrap: break-word;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.menu-sub-section {
  -moz-column-count: 2;
  -moz-column-width: auto;
  -moz-column-gap: 40px;
  -moz-column-rule: none;
  column-count: 2;
  column-width: auto;
  column-gap: 40px;
  column-rule: none;
  font: serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  text-shadow: none;
  word-wrap: break-word;
  outline: none;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.menu-sub-section-item {
  margin: 8px 0 8px 0;
  display: inline-block;
  zoom: 1;
  width: 100%;
  position: relative;
}

.menu-sub-section-item-name {
  margin-right: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.menu-sub-section-item-price {
  margin-left: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
  text-align: right;
}

.menu-sub-section-item-description {
  color: #4d4d4d;
  clear: both;
  font: serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  text-shadow: none;
  word-wrap: break-word;
  outline: none;
}

.add-to-cart-btn {
  margin-left: 5px;
  position: absolute;
  right: 0px;
  padding: 1px;
  background-color: rgb(26, 168, 26);
}

.add-to-cart-btn:hover {
  padding: 3px;
  background-color: rgb(13, 212, 13);
}

.remove-from-cart-btn {
  margin-left: 5px;
  right: 0px;
  padding: 1px;
  background-color: rgb(255, 0, 0);
}

.remove-from-cart-btn:hover {
  padding: 3px;
  background-color: rgb(255, 100, 100);
}

/* start of order rhs */
.order-main-container-rhs {
  width: 40%;
  float: right;
  text-align: center;
  margin: 42px auto 42px auto;
}

.order-main-container-rhs-center {
  background:gray
}

.order-main-container-rhs-center-title {
  background: gray;
  color:rgb(252, 195, 10); 
  padding: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border: black;
  border-style: solid;
  border-width: 6px;
}

.order-main-container-rhs-center-order-list {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: black;
  border-style: solid;
  border-width: 6px;
}

.order-submit-btn {
  padding: 2px;
  width: 30%;
  background-color: rgb(252, 195, 10); 
  border: black;
  border-style: solid;
  border-width: 2px;
}

.order-submit-btn:hover {
  background-color: rgba(255, 251, 0, 0.89);
  padding: 5px; 
}
